{# doit etre incut avec le parametre user
il est concu pour tenir sur une ligne en version portable#}

<div class="row mini_user">
    <div class="col-sm-3">
        <a href="{{ path('user_mainpage', { 'id' : user.id}) }}">
            <img src="{{ asset('img/icon/user_icon.png') }}" alt="" class="img-responsive">{#todo remplacer par la user-image quant on aura créé le truc#}
        </a>
    </div>
    <div class="col-sm-9">
        <h3><a href="{{ path('user_mainpage', { 'id' : user.id}) }}">{{ user.name }}</a></h3>
        <p>{{ user.username }}</p>
    </div>
</div>