<!DOCTYPE html>
<!-- {% include 'template/logo_ascii.html.twig' %}-->
<html>
    <head>
        <meta charset="UTF-8" />
        <title>HUmanBeing | {% block title %}{% endblock %}</title>
        {% stylesheets
            'css/framework/bootstrap.min.css'
            'css/framework/jquery-ui.min.css'
            'css/base.css'
            'css/header.css'
            'css/general_menu.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "template/header.html.twig" %}
        <div class="container-fluid row main-container">
                {% if app.user is defined and app.user is not null%}
                    <nav class="col-sm-3 col-md-2 hidden-xs genral_menu "id="general-menu">
                            {{ render(controller('CoreBundle:Menu:generalMenu', { 'originalRequest' : app.request })) }}
                    </nav>

                {% else  %}
                <nav class="col-sm-3 genral_menu" >
                    {{ render(controller('CoreBundle:Menu:connexionPannel')) }}
                </nav>
                {% endif %}
            <main class="col-sm-9">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <header class="body-header ">
                    <div class="row">
                        <div class="col-sm-8">
                {% block body_header %}{% endblock %}
                        </div>
                    </div>
                </header>
                {% block body %}{% endblock %}
            </main>
        </div>
        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
        </footer>
        {% block javascripts %}
            {% javascripts
                'js/framework/jquery-3.2.1.min.js'
                'js/framework/jquery-ui.min.js'
                'js/framework/bootstrap.min.js'
                'js/framework/headroom.js'
                'js/header.js'
                'js/general_menu.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
