{% extends "::base.html.twig" %}
{% block title %}
    Projets et invitations
{% endblock %}
{% block body_header %}
    <h1>Mes Projets et Invitations</h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-3 col-sm-push-9">
        <h4>Nouvelles invitations</h4>
            {% for i, invitation in invitations %}
                {% if invitation.status == 0 %}
                    <hr>
                        <h4><a href="{{ path( 'project_mainpage' , {'id': invitation.project.id}) }}">{{ invitation.project.name }}</a></h4>
                        <p>{{ invitation.content }}</p>
                        <div class="">
                            {#todo rendre ca valide#}
                            <button class="btn btn-success col-sm-6 btn-sm" data-toggle="modal" data-target="#accept_form_{{ i }}">
                                Rejoindre le projet
                            </button>
                            <div class="modal fade" id="accept_form_{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Rejoindre le projet <a href="{{ path( 'project_mainpage' , {'id': invitation.project.id}) }}">
                                                    {{ invitation.project.name }}
                                                </a>
                                            </h4>
                                        </div>
                                        {{ render(controller('ProjectBundle:Invitation:acceptInvitation' , { 'invitation_id' : invitation.id })) }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-danger col-sm-6 btn-sm" data-toggle="modal" data-target="#decline_form_{{ i }}">
                                Décliner l'invitation
                            </button>
                            <div class="modal fade" id="decline_form_{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Décliner l'invitation à rejoindre le projet <a href="{{ path( 'project_mainpage' , {'id': invitation.project.id}) }}">
                                                    {{ invitation.project.name }}
                                                </a>
                                            </h4>
                                        </div>

                                        {{ render(controller('ProjectBundle:Invitation:declineInvitation' , { 'invitation_id' : invitation.id  })) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-9 col-sm-pull-3">
            {% for userProjet in userProjects %}
                <div class="col-sm-3">
                    <a href="{{ path('project_mainpage' , { 'id' : userProjet.project.id}) }}">
                        <img src="{{ asset('img/icon/project_icon.png') }}" alt="" class="img-responsive">
                        <h4>{{ userProjet.project.name }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}