{% extends "::base.html.twig" %}
{% block title %}
    Projets et invitations
{% endblock %}
{% block body_header %}
    <h1>Mes Projets et Invitations</h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-3 col-md-push-9">
        <h4>Nouvelles invitations</h4>
            {% for invitation in invitations%}
                {% if invitation.status == 0 %}
                        <h5><a href="{{ path( 'project_mainpage' , {'id': invitation.project.id}) }}">{{ invitation.project.name }}</a></h5>
                        <p>{{ invitation.content }}</p>
                        <div class="">
                            {#todo rendre ca valide#}
                            <button class="btn btn-success col-sm-6 btn-sm">rejoindre le projet</button>
                            <button class="btn btn-danger col-sm-6 btn-sm
">décliner l'invitation</button>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-9 col-sm-pull-3">
            {% for userProjet in userProjects %}
                <div class="col-sm-4">
                    <a href="{{ path('project_mainpage' , { 'id' : userProjet.project.id}) }}">
                        <img src="{{ asset('img/icon/project_icon.png') }}" alt="" class="img-responsive">
                        <h4>{{ userProjet.project.name }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}