
<div class="modal-body">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'action' : path}}) }}
    {{ form_errors(form) }}
    <div class="panel-group" id="accordion-signin">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-signin" href="#collapse-step1">
                        Etape 1 : Enregistrement
                    </a>
                </h4>
            </div>
            <div id="collapse-step1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="container-fluid">
                        {{ form_row(form.username) }}
                        {{ form_row(form.password) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-signin" href="#collapse-step2">
                        Etape 2 : Renseignements
                    </a>
                </h4>
            </div>
            <div id="collapse-step2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="container-fluid">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

</div>
<div class="hide">
    {{ form_widget(form.encryptedPrivateAsymKey, {attr : {"value" : "0"}}) }}

    {{ form_widget(form.publicAsymKey, {attr : {"value" : "0"}}) }}

</div>
{{ form_rest(form) }}
{{ form_end(form) }}
