
<div class="modal-body">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'action' : path}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.username, "Identifiant de connexion", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.username) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.password, "Password", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password) }}
        <div class="col-sm-10">
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.name, "Pseudo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-10">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="hide">
    {{ form_widget(form.encryptedPrivateAsymKey, {attr : {"value" : "0"}}) }}

    {{ form_widget(form.publicAsymKey, {attr : {"value" : "0"}}) }}
    </div>

    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

</div>
{{ form_end(form) }}