{% extends "::base.html.twig" %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block body_header %}
    <div class="row"></div>
    <h2 class="col-sm-9">{{ user.username}}<h3 class="right">{{ user.city }} <small>{{ user.country }}</small></h3>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-7">
            {% if app.user != user %}
            <button class="btn btn-primary" data-toggle="modal" data-target="#invit_form">
                Inviter cet utilisateur à rejoindre l'un vos projets
            </button>
            {% endif %}
            <div class="modal fade" id="invit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title" id="myModalLabel">Inviter {{ user.username }}</h3>
                            {# todo : trouver un moyen pour que ca soit moins gourmand et plus efficace#}
                            <div class="panel-group" id="accordion">
                            {% for userProject in app.user.userProjects %}
                                {% if userProject.Role == 0 %}


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ userProject.project.id }}">
                                                Inviter <strong>{{ user.username }}</strong> à rejoindre le projet <strong>"{{ userProject.project.name }}"</strong>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ userProject.project.id}}" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            {{ render(controller('ProjectBundle:Invitation:addInvitation' ,{
                                                'username' : user.username,
                                                'project' : userProject.project ,
                                                'initialRequest' : initialRequest,
                                            })) }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h3>présentation</h3>
                <p>{{ user.description }}</p>
        </div>
    </div>


{% endblock %}