<div class="modal-body">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'action' : path}}) }}
    {{ form_errors(form) }}

    <div class="panel-group" id="accordion-signin">
        <div class="panel panel-default">

            <div id="collapse-step3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="container-fluid">
                        {# todo faire en sorte que ca continue de marcher en https#}
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="text" id="user_adress" class="form-control" placeholder="Entrez le nom de votre ville">
                            </div>
                            <div class="btn btn-default col-xs-4" id="search">rechercher ma ville</div>
                        </div>
                        <div id="user_mapid" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default' , 'value' : 'mettre à jour la position'}}) }}

    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
</div>