{% extends '::base.html.twig' %}
{% block title %}
    {{ project.name }}
{% endblock %}
{% block stylesheets%}
    <link rel="stylesheet" href="{{asset('css/project/project_template.css')}}"/>
{% endblock %}
{% block body_header %}
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <a href="{{ path('project_mainpage', {'id' : project.id})}}">
            <img src="{% block projectImgUrl %}{{ asset('img/icon/project_icon.png') }}{% endblock %}" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-md-10">
            <a href="{{ path('project_mainpage', {'id' : project.id})}}">
                <h3 class="body-header-title">{%  block projectName %}{%  endblock %}</h3>
            </a>
            {% if (app.user.lat and project.lat) %}
                {{ render(controller('CoreBundle:Geoloc:geolocProject', { 'Project': project })) }}
                {% else %}
                <h4>{{ project.city }} <small>{{ project.country }}</small></h4>
            {% endif %}
            {% if UserRoleInProject == 0 %}
                <div>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit_form">
                        {% if not project.lat %}Ajouter un lieu{% endif %} <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <div class="modal fade" id="edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modifier la localisation du projet {{ project.name }}</h4>
                                </div>
                                {{ render(controller('CoreBundle:Geoloc:editGeolocProject' , { 'project_id' : project.id , 'initialRequest' : initialRequest })) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block body %}
    {% if UserRoleInProject >= 0 %}

    <div class="col-md-10 col-md-offset-2">
        <ul class="nav nav-tabs row" role="tablist">
            <li class="{% block isHomePage %}{% endblock %} ">{# ce block permet de rendre l'onglet actif suivant la vue sur laquelle on est#}
                <a href="{{ path('project_mainpage', {'id' : project.id})}}"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li class="{% block isMemberPage %}{% endblock %} ">{# ce block permet de rendre l'onglet actif suivant la vue sur laquelle on est#}
                <a href="{{ path('project_members', {'id': project.id}) }}"><span class="glyphicon glyphicon-user"> Membres</span></a>
            </li>
            <li class="{% block is3 %}{% endblock %} ">{# ce block permet de rendre l'onglet actif suivant la vue sur laquelle on est#}
                <a href="#">option n°3</a>
            </li>
            <li class="{% block is4 %}{% endblock %} ">{# ce block permet de rendre l'onglet actif suivant la vue sur laquelle on est#}
                <a href="#">option numéro 4</a>
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="container-fluid">
        {% block body_project %}
        {% endblock %}
    </div>
{% endblock %}

