{% extends 'ProjectBundle:templates:ProjectGeneralTemplate.html.twig' %}
{% block projectName %}
    {{ project.name }}
{% endblock %}
{% block isMemberPage %}active{% endblock %}
{% block body_project %}
    <h4>liste des membres du projet</h4>
        {% for userProject in userProjects %}
            <div class="row">
                <div class="col-sm-4">
                {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : userProject.User} %}
                </div>
                <div class="col-sm-8">
                    {%  if userProject.roles == 0 %}
                        <p>Administrateur du projet</p>
                    {% else %}
                        <p>Membre du projet</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    <hr>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#invit_form">
        Inviter un utilisateur a rejoindre le projet
    </button>
    <div class="modal fade" id="invit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Inviter un nouveau membre</h4>
                </div>
                    {{ render(controller('ProjectBundle:Invitation:addInvitation' , { 'project' : project , 'initialRequest' : initialRequest })) }}
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-6">
    <h4>Invitations en attente de réponse</h4>
        {% for invitation in invitations %}
                {% if invitation.status == 0 %}
                    {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : invitation.user} %}
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_invit_form">
                        Annuler l'invitation
                    </button>
                    <div class="modal fade bs-example-modal-sm" id="delete_invit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Annuler l'invitation envoyée à {{ invitation.user.username }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ render(controller('ProjectBundle:Invitation:deleteInvitation' , { 'invitation_id' : invitation.id , 'initialRequest' : initialRequest })) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h4>Invitations déclinées</h4>
        {% for invitation in invitations %}
            {% if invitation.status == 2 %}
                {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : invitation.user} %}
                <p>{{ invitation.reply }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
