{% extends 'ProjectBundle:templates:ProjectGeneralTemplate.html.twig' %}
{% block projectName %}
    {{ project.name }}
{% endblock %}
{% block isMemberPage %}active{% endblock %}
{% block body_project %}
    <h4>liste des membres du projet</h4>
    <div class="row">
        {% for userProject in userProjects %}

                <div class="col-sm-4 col-xs-6">
                {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : userProject.User} %}
                {%  if userProject.role == 0 %}
                    <p>Administre le projet</p>
                {% else %}
                    <p>Membre du projet</p>
                {% endif %}
                </div>

        {% endfor %}
    </div>
    <hr>
    {% if UserRoleInProject == 0 %}
        <div>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#invit_form">
                Inviter un utilisateur a rejoindre le projet
            </button>
            <div class="modal fade" id="invit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Inviter un nouveau membre</h4>
                        </div>
                            {{ render(controller('ProjectBundle:Invitation:addInvitation' , { 'project' : project , 'initialRequest' : initialRequest })) }}
                    </div>
                </div>
            </div>
        </div>
    <hr>
    {% endif %}

    <div>
    <h4>Invitations en attente de réponse</h4>
        <div class="row">
        {% for invitation in invitations %}
                {% if invitation.status == 0 %}
                    <div class="col-sm-4 col-xs-6">
                        {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : invitation.user} %}
                        {% if UserRoleInProject == 0 %}
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_invit_form">
                            Annuler l'invitation
                        </button>
                    </div>
                    <div class="modal fade bs-example-modal-sm" id="delete_invit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Annuler l'invitation envoyée à {{ invitation.user.username }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ render(controller('ProjectBundle:Invitation:deleteInvitation' , { 'invitation_id' : invitation.id , 'initialRequest' : initialRequest })) }}
                                </div>
                            </div>
                        </div>
                    </div>
                        {% else %}
                    </div>
                        {% endif %}
                {% endif %}
        {% endfor %}
        </div>
    </div>
    <hr>
    <div>
        <h4>Invitations déclinées</h4>
        <div class="row">
        {% for invitation in invitations %}
            {% if invitation.status == 2 %}
            <div class="col-sm-4 col-xs-6">
                {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : invitation.user} %}
                <p>{{ invitation.reply }}</p>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
