 <ul class="nav nav-pills nav-stacked">
        <li class="">

            <button type="button" class="btn btn-default  navbar-brand">
                <img src="{{ asset("img/icon/user_icon.png") }}" alt="user icon">
            </button>
            <h5>{{ app.user.username | capitalize }}</h5>
            <ul class="hide">
                <li><h5>pseudo utilisateur</h5></li>
                <li><a href="">sous menu 1</a></li>
                <li><a href="">sous menu 2</a></li>
                <li><a href="">sous menu 3</a></li>
                <li><a href="">sous menu 4</a></li>
                <li><a href="">sous menu 5</a></li>
            </ul>
            <hr>
        </li>
        <li class="">
            <button type="button" class="btn btn-default  navbar-brand">
                <img src="{{ asset("img/icon/message_icon.png") }}" alt="message icon">
            </button>
            <h5>Messagerie</h5>
            <ul class="hide">
                <li><a href="">sous menu 1</a></li>
                <li><a href="">sous menu 2</a></li>
                <li><a href="">sous menu 3</a></li>
                <li><a href="">sous menu 4</a></li>
                <li><a href="">sous menu 5</a></li>
            </ul>
            <hr>
        </li>
        <li class="">
            <div class="menu_line">
                <button type="button" class="btn btn-default  navbar-brand">
                    <img  src="{{ asset("img/icon/project_icon.png") }}" alt="project icon">
                </button>
                <h5>Mes projets</h5>
            </div>
            <ul class="hide">
                {% for userPproject in app.user.userProjects %}
                <li><a href="">{{ userPproject.project.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </li>
        <li class="">
            <button type="button" class="btn btn-default  navbar-brand">
                <img src="{{ asset("img/icon/sharing_icon.png") }}" alt="sharing icon">
            </button>
            <h5>Partage</h5>
            <ul class="hide">
                <li><a href="">sous menu 1</a></li>
                <li><a href="">sous menu 2</a></li>
                <li><a href="">sous menu 3</a></li>
                <li><a href="">sous menu 4</a></li>
                <li><a href="">sous menu 5</a></li>
            </ul>
            <hr>
        </li>
        <li class="">
            <button type="button" class="btn btn-default  navbar-brand">
                <img src="{{ asset("img/icon/moderation_icon.png") }}" alt="moderation icon">
            </button>
            <h5>Modération</h5>
            <ul class="hide">
                <li><a href="">sous menu 1</a></li>
                <li><a href="">sous menu 2</a></li>
                <li><a href="">sous menu 3</a></li>
                <li><a href="">sous menu 4</a></li>
                <li><a href="">sous menu 5</a></li>
            </ul>
            <hr>
        </li>
    </ul>