<header>
    <nav class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                {% if app.user is defined and app.user is not null%}
                    <div class="row">
                        <div class="col-xs-6 visible-xs-inline-block">
                            <button type="button" class="btn btn-default  navbar-brand">
                                <img src="{{ asset('img/icon/menu_icon.png') }}" alt="menu">
                            </button>


                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="navbar-brand btn btn-default"><img src="{{ asset('img/icon/agenda_icon.png') }}" alt="agenda"></a>
                            <div class="hidden-xs"><h5>Agenda</h5><hr></div>

                        </div>
                    </div>
                {% else %}
                    <div class="dropdown col-xs-12 center-block">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Connexion
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                    <form role="form" action="{{ path('login_check') }}" method="post">
                                        <div class="form-group">
                                            <label for="username" class="hide">Nom d'utilisateur</label>
                                            <input class="form-control" type="text" id="username" name="_username" required="required" placeholder="Nom d'utilisateur">
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="hide">Password</label>
                                            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password">
                                        </div>
                                        <input type="submit" class="btn btn-default center-block" value="Connexion">
                                    </form>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Créer un compte</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-2 col-sm-offset-4">
                <div class="row">
                    <form class="col-xs-6 col-sm-9" role="search">
                        <div class="input-group row">
                            <input type="text" class="form-control hide" placeholder="Search">
                            <span class="input-group center-block ">
                                <button type="submit" class="btn btn-default navbar-brand" >
                                    <img  src="{{ asset('img/icon/search_icon.png') }}" alt="search icon">
                                </button>
                            </span>
                        </div>
                    </form>
                        <a class="navbar-brand col-xs-6 col-sm-3" href="{{ path('homepage') }}">
                            <img class="btn btn-default center-block" src="{{ asset('img/icon/hub_logo.png') }}" alt="HUB - HUmanBeing homepage">
                        </a>
                </div>
            </div>
        </div>
    </nav>
</header>